body {
    background-image: url('../img/6063nyu_eventguide_img1.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
  }
  
  