
<style>
  .exit-chat {
    position: absolute;
    top: 140px;
    right: 20px;
    background-color: #FF0000; /* Red */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

  .exit-chat:hover {
    background-color: #45a049;
  }
</style>



<!-- This is components/chat_window.html -->

{% if group_chat == 1 %}
<div id="chat-header">
  <!-- Dynamically set the receiver's name using a template variable -->
  <h2 id="receiver-name">{{ room.name }}</h2>
</div>
  <a href="{% url 'exit_group_chat' room.id %}" class="exit-chat">Exit Group Chat</a>
{% else %}
<div id="chat-header">
  <!-- Dynamically set the receiver's name using a template variable -->
  <h2 id="receiver-name">{{ receiver_name }}</h2>
</div>
{% endif %}

<!-- Chat message display area -->

<div id="chat-messages">
    {% for message in chat_messages %}
      <div class="message {% if message.sender == request.user %}sent{% else %}received{% endif %}">
        {% if group_chat == 1 %}
        {% include "components/avatar.html" with avatar=message.sender_ChatRoom.profile.avatar classNames="user-avatar-placeholder" %}
        {% else %}
        {% include "components/avatar.html" with avatar=message.sender.profile.avatar classNames="user-avatar-placeholder" %}
        {% endif %}
        <div class="message-content" {% if message.sender_ChatRoom == request.user %}style="background-color: #dcf8c6;"{% endif %}>
          <div class="message-header">
            {% if group_chat == 1 %}
            <span class="username">{{ message.sender_ChatRoom }}</span>
            {% else %}
            <span class="username">{{ message.sender.username }}</span>
            {% endif %}
            <span class="timestamp">{{ message.timestamp }}</span>
          </div>
          <p class="message-body">{{ message.message }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

<div class="message-input-area">
  <input type="text" id="message-input" placeholder="Type message here..." required>
  <button type="submit" id ="sendBtn">Send</button>
</div>



