{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark header">
  <a class="navbar-brand" href="{% url 'index' %}">Homepage</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_detail' user.username %}"
          >User Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'interest_list' %}">Interest List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'search_rooms' %}">Chat Rooms</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
