{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<link href="{% static 'backend/css/index_style.css' %}" rel="stylesheet" />
<!-- Custom CSS -->
<link href="{% static 'backend/css/chatindex_style.css' %}" rel="stylesheet">
{% include "components/navbar.html" %}

<div class="chat-container">
  <div class="chat-sidebar">
    {% for user_id, user in users_with_data.items %}
    <a>
      <div class="chat-user-link" data-user-id="{{ user_id }}">
      {% include "components/avatar.html" with avatar=user.profile.avatar classNames="user-avatar-placeholder"%}
      <div class="user-name">{{ user.username }}</div>
    </div>
    </a>
    {% endfor %}
    {% for event_name,img_url,room_slug in event_data %}
    <a>
      <div onclick="loadGroupChatWindow('{{ room_slug }}');" class="chat-user-link">
        <!-- <div class="user-avatar-placeholder"></div> -->
        <img src="{{ img_url }}" alt="Event Image" class="event_icon">
        <div class="user-name">{{ event_name }}</div>
      </div>
    </a>
    {% endfor %}

  </div>

  <div id="chat-window">
    <!-- Chat messages will be loaded here -->
  </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>

<script>
const CURRENT_USER_ID = '{{ current_user_id }}'; 
var oldChannelName = null;
var oldGroupChannelName = null;
var pusher = new Pusher('e44f77643020ff731b4f', {
      cluster: 'mt1'
    });    

var notificationChannel = pusher.subscribe('private-notifications-' + CURRENT_USER_ID);
notificationChannel.bind('new-message-notification', function(data) {
  if (data.sender_id !== CURRENT_USER_ID) {
    addNotificationIcon(data.sender_id);
  }
});

// Add this inside a script tag in chat_index.html
function loadChatWindow(userId) {
  $.ajax({
    url: 'get_chat/', // URL to the Django view that returns the chat
    type: 'GET',
    data: { 'user_id': userId },
    success: function(response) {
      clearChatWindow(); // Clear the chat window before loading new messages
      $('#chat-window').html(response); // Update the chat area with the new HTML
      bindPusherEvents(userId); // Call a function to re-bind Pusher events as needed
      // Reinitialize the chat form to attach the AJAX submit event handler
      setupChatForm(userId);
      // Scroll to the bottom of the chat window
      var chatMessages = document.getElementById('chat-messages');
      chatMessages.scrollTop = chatMessages.scrollHeight;
    },
    error: function(xhr, status, error) {
      console.error("Error fetching chat: ", error);
    }
  });
  clearNotificationIcon(userId);
}

function bindPusherEvents(receiverId) {
  // pusher.unbind_all();
  pusher.unsubscribe(oldChannelName);
  // Bind to a 'new-message' event within the chat channel
  var channelName = getChatChannelName(CURRENT_USER_ID, receiverId); 
  oldChannelName = channelName;
  var channel = pusher.subscribe(channelName);
  channel.bind('new-message', function(data) {
    addMessageToChat(data);
  });
}

function addMessageToChat(data) {
    const username = data.sender_name;
    const messageText = data.message;
    const timestamp = data.timestamp; 
    const isMe = username === '{{ request.user.username }}';
    const messageClass = isMe ? 'sent' : 'received';
    
    const defaultImagePath = '{% static "backend/img/generic_user_image.png" %}';
    const avatarHTML = data.avatar_url
      ? `<img class="user-avatar avatar"
      src="${data.avatar_url}"
      onerror="this.onerror=null; this.src='${defaultImagePath}'"
      alt="profile picture"/>`
      : `<img class="user-avatar avatar" src='${defaultImagePath}' alt="profile picture"/>`;    
    // Create the message element
    var messageElement = $(`
        <div class="message ${messageClass}">
          ${avatarHTML}
            <div class="message-content">
                <div class="message-header">
                    <span class="username">${username}</span>
                    <span class="timestamp">${timestamp}</span>
                </div>
                <p class="message-body">${messageText}</p>
            </div>
        </div>
    `);

    // Append the message element to the chat window
    $('#chat-messages').append(messageElement);

    // Scroll to the bottom of the chat window
    $("#chat-messages").scrollTop($("#chat-messages")[0].scrollHeight);
}

function getChatChannelName(userId1, userId2) {
    return `private-chat-${Math.min(userId1, userId2)}-${Math.max(userId1, userId2)}`;
}

function setupChatForm(receiverId) {
    $("#sendBtn").on('click', function(e) {
        e.preventDefault();
        const message = $("#message-input").val();

        $.ajax({
            type: 'POST',
            url: 'send_message/',  // The endpoint in Django app urls.py
            data: {
                'receiver_id': receiverId,  // Set dynamically when loading the chat window
                'message': message,
                'csrfmiddlewaretoken': getCSRFToken()  // Handle CSRF token
            },
            success: function(response) {
                console.log('Message sent successfully!');
                $("#message-input").val('');  // Clear the input field
            },
            error: function() {
                alert('There was an error sending your message.');
            }
        });
    });
}

// Utility function to get the CSRF token
function getCSRFToken() {
    return document.cookie.split('; ')
        .find(row => row.startsWith('csrftoken='))
        .split('=')[1];
}

function getQueryParam(param) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(param);
}

// Load chat window from URL query parameter
function loadChatWindowFromUrl() {
    const userId = getQueryParam('user_id');
    if (userId) {
        loadChatWindow(userId);
    }
}
// On document ready, try to load chat window from URL
$(document).ready(function() {
    loadChatWindowFromUrl();
});

function addNotificationIcon(senderId) {
    console.log("Adding notification icon for user: ", senderId); // Check the senderId
    // var userSidebarEntry = document.querySelector('[data-user-id="' + senderId + '"]');
    var userSidebarEntry = document.querySelector(`[data-user-id="${senderId}"]`)
    console.log("Selected user sidebar entry: ", userSidebarEntry); // Check what element is being selected

    if (userSidebarEntry) {
        userSidebarEntry.classList.add('has-new-message');
    } else {
        console.error("No sidebar entry found for user ID: ", senderId);
    }
}



function clearNotificationIcon(senderId) {
  var userSidebarEntry = document.querySelector('[data-user-id="' + senderId + '"]');
  if (userSidebarEntry) {
    // Clear the notification icon
    userSidebarEntry.classList.remove('has-new-message');
  }
}


document.querySelectorAll('.chat-user-link').forEach(function(userLink) {
    // Remove the event listener to avoid duplicates
    userLink.removeEventListener('click', handleUserLinkClick);
    // Add the event listener
    userLink.addEventListener('click', handleUserLinkClick);
});

function handleUserLinkClick() {
    var userId = this.dataset.userId;
    clearNotificationIcon(userId);
    // Now load the chat window for this user
    loadChatWindow(userId);
    // Remove active class from all user links and add it to the clicked one
    removeActiveClassFromAllUserLinks();
    this.classList.add('chat-user-active');
}



function clearChatWindow() {
    $('#chat-window').empty(); // Clear the chat window contents
}

function removeActiveClassFromAllUserLinks() {
  document.querySelectorAll('.chat-user-link').forEach(function(userLink) {
    userLink.classList.remove('chat-user-active');
  });
}


// ******************************************************************************************************
// Group chat
function loadGroupChatWindow(room_slug) {
  console.log('test: loadGroupChatWindow')
  $.ajax({
    url: 'rooms/', // URL to the Django view that returns the chat
    type: 'GET',
    data: { 'room_slug': room_slug },
    success: function(response) {
      console.log('test: loadGroupChatWindow-success')
      $('#chat-window').html(response); // Update the chat area with the new HTML
      bindPusherEvents_group(room_slug); // Call a function to re-bind Pusher events as needed
      // Reinitialize the chat form to attach the AJAX submit event handler
      setupGroupChatForm(room_slug);
    },
    error: function(xhr, status, error) {
      console.error("Error fetching chat: ", error);
    }
  });
}
// receiverId
function setupGroupChatForm(room_slug) {
  $("#sendBtn").on('click', function(e) {
      e.preventDefault();
      const message = $("#message-input").val();

      console.log('test: setupGroupChatForm')

      $.ajax({
          type: 'POST',
          url: 'send_group_message/',  // The endpoint in Django app urls.py
          data: {
              'room_slug': room_slug,  // Set dynamically when loading the chat window
              'message': message,
              'csrfmiddlewaretoken': getCSRFToken_group()  // Handle CSRF token
          },
          success: function(response) {
              console.log('Message sent successfully!');
              $("#message-input").val('');  // Clear the input field
          },
          error: function() {
              console.log()
              alert('There was an error sending your message.');
          }
      });
  });
}


function getCSRFToken_group() {
  return document.cookie.split('; ')
      .find(row => row.startsWith('csrftoken='))
      .split('=')[1];
}

function bindPusherEvents_group(receiver_room_slug) {  
  // Unbind any previous bindings to avoid duplicates
  // pusher.unbind_all();

  pusher.unsubscribe(oldGroupChannelName);

  // Bind to a 'new-message' event within the chat channel
  var channelName = getGroupChatChannelName(CURRENT_USER_ID, receiver_room_slug); 
  oldGroupChannelName = channelName
  var channel = pusher.subscribe(channelName);

  channel.bind('new-message', function(data) {    
    addMessageToChat(data);
      });
}

function getGroupChatChannelName(userId, receiver_room_slug) {
  return receiver_room_slug
}


</script>