{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ event.title }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="{% static 'backend/css/base_style.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'backend/css/event_detail_style.css' %}"
      rel="stylesheet"
    />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    {% if user.is_authenticated %}
    <script type="text/javascript">
      // Sets a JavaScript variable for the current user's ID
      const currentUsername = "{{ user.username }}";
    </script>
    {% endif %}
  </head>
  <body>
    {% include "components/navbar.html" %}

    <div class="event-detail py-5">
      <div class="container container-transparent">
        <div class="buttons-container text-right">
          {% if loggedIn %}
          <button
            class="heart-button {% if interested %} hidden {% endif %}"
            id="add-interest"
            aria-label="Save event"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-heart"
              viewBox="0 0 16 16"
            >
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
              />
            </svg>
          </button>
          <button
            class="heart-button {% if not interested %} hidden {% endif %}"
            id="remove-interest"
            aria-label="Unsave event"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-heart-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
              />
            </svg>
          </button>

          <button
            class="btn-outline-dark"
            id="write-review"
            aria-label="Write a review"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
              />
            </svg>
            Review
          </button>  
          
          <a href="{% url 'chat_with_room' room_slug %}" class="top-left-button" style="display: none;"></a>

          <button onclick="window.location.href='{% url 'chat_with_room' room_slug %}'" class="btn-outline-dark" id="write-review" aria-label="Write a review">
              Join Group Chat
          </button>  
   

          <!-- Review Modal -->
          <div id="review-modal" class="modal">
            <div class="modal-content">
              <button id="close-modal" class="close" aria-label="Close">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-x"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
                  />
                </svg>
              </button>
              <h2>Rate and Review</h2>
              <div id="messages-container"></div>
              <div class="star-rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5" title="5 stars">&#9733;</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" title="4 stars">&#9733;</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" title="3 stars">&#9733;</label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" title="2 stars">&#9733;</label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" title="1 star">&#9733;</label>
              </div>
              <textarea
                id="review-text"
                class="review-text"
                placeholder="Share your thoughts (Optional)"
              ></textarea>
              <button type="button" id="post-review" class="post-btn">
                Post
              </button>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <!-- Centered image and title -->
            <img
              src="{{ event.image_url }}"
              alt="{{ event.title }}"
              class="img-fluid"
            />
            <h1>{{ event.title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- Left-aligned event details -->
            <div class="event-info mt-2">
              <p><strong>Category:</strong> {{ event.category }}</p>
              <p><strong>Start Date:</strong> {{ event.open_date }}</p>
              <p><strong>End Date:</strong> {{ event.close_date }}</p>
              <p><strong>Location:</strong> {{ event.location }}</p>
              <p><strong>Description:</strong> {{ event.description }}</p>
              <p>
                <strong>Average Rating:</strong>
                <span id="average-rating"
                  >{{ event.avg_rating| default:"Not rated yet" }}</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="container reviews py-5">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2>Reviews</h2>
              <button id="sort" class="sort-button">Sort by likes</button>
              <div id="reviews-container">
                <!-- Insert reviews here -->
              </div>        
            </div>                     
          </div>                    
        </div> 
      </div>   
    </div>

    <script type="text/javascript">
      const eventId = "{{ event_id }}";
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'backend/scripts/event_detail.js' %}"></script>

    <script>
      // Setup for AJAX requests to include CSRF token
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (
            !/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) &&
            !this.crossDomain
          ) {
            xhr.setRequestHeader(
              "X-CSRFToken",
              $('meta[name="csrf-token"]').attr("content")
            );
          }
        },
      });
    </script>
  </body>

<div id="myModal" class="modal">
  <div class="modal-content">
    <button id="close-m" class="close" aria-label="Close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </button>
    <p>Are you sure you want to delete this review?</p>
    <button id="confirmDeleteButton">Yes, Delete</button>
    <button id="cancelDeleteButton">Cancel</button>
  </div>
</div>




<div id="deleteModal" class="modal">
  <div class="modal-content">
    <button id="close-m" class="close" aria-label="Close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </button>
    <p>Are you sure you want to delete reply?</p>
    <button id="confirmDeletereply">Yes, Delete</button>
    <button id="cancelDeletereply">Cancel</button>
  </div>
</div>