<!-- templates/backend/event_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <h1 >{{ event.title }}</h1>
  <p><b>Category:</b> {{ event.category }}</p>
  <p><b>Show Start Date:</b> {{ event.open_date }}</p>
  <p><b>Show End Date:</b> {{ event.close_date }}</p>
  <p><b>Location:</b> {{ event.location }}</p>
  <p><b>Availability:</b> {{ event.availability }}</p>
  <p><b>Description:</b> <br> {{ event.description }}</p>
  <p><b>Average Rating:</b> <br> {{ event.avg_rating }}</p>
  <!-- Add more event details here as needed -->

  <a href="{% url 'index' %}" class="btn btn-primary">Back to Home Page</a>
  <a href="{% if category %}{% url 'events_by_category' category %}{% else %}{% url 'index' %}{% endif %}" class="btn btn-primary">Back to Category List</a>
{% endblock %}
