<!-- templates/backend/index.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Events Index</h1>

  <form action="{% url 'search_results' %}" method="get">
    <input type="text" name="search_events" placeholder="Search events" value="{{ request.GET.search }}">
    <button type="submit">Search</button>
  </form>

  <div>
    {% for category in categories %}
      <a href="{% url 'events_by_category' category %}" class="btn btn-outline-dark">{{ category }}</a>
    {% endfor %}
  </div>


  <ul>
    {% for event in events %}
      <li>
        <a href="{% url 'event_detail' event.id %}" class="btn btn-outline-dark">{{ event.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
