{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="{% static 'backend/css/index_style.css' %}" rel="stylesheet" />
</head>
<body>
    {% block content %}
    {% include "components/navbar.html" %}

    <div class="search-bar-container">
        <form action="{% url 'search_results' %}" method="get" class="search-form">
            <div class="input-group mb-1 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </span>
                </div>
                <input type="text" class="form-control search-input col-8" id="search-input" name="search_events" placeholder="Search events or users..." aria-label="Search" value="{{ request.GET.search_events }}" />
                <select class="custom-select col-3" id="filter" name="search_type">
                    <option selected>Shows</option>
                    <option>Users</option>
                </select>
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </div>
            <div id="recent-searches-dropdown" class="recent-searches-dropdown">
                <!-- Recent searches will be appended here -->
            </div>
        </form>
    </div>

    <div class="container">
        <form method="get">
          <input type="hidden" name="search_events" value="{{ request.GET.search_events }}"/>
          <div class="row">
              <div class="col-md-6"> 
                  <select class="custom-select" id="filter" name="availability" onchange="this.form.submit()">
                      <option value="All" {% if request.GET.availability == 'All' %}selected{% endif %}>All Availability</option>
                      <option value="Past" {% if request.GET.availability == 'Past' %}selected{% endif %}>Past</option>
                      <option value="Current" {% if request.GET.availability == 'Current' %}selected{% endif %}>Current</option>
                      <option value="Upcoming" {% if request.GET.availability == 'Upcoming' %}selected{% endif %}>Upcoming</option>
                  </select>
              </div>
              <div class="col-md-6">
                <select class="custom-select" id="sort" name="sort_by" onchange="this.form.submit()">
                  <option value="" {% if not request.GET.sort_by %}selected{% endif %}>Sorted by</option>
                  <option value="Average Rating" {% if request.GET.sort_by == 'Average Rating' %}selected{% endif %}>Average Rating</option>
                  <option value="Popularity" {% if request.GET.sort_by == 'Popularity' %}selected{% endif %}>Popularity</option>
                </select>
              </div>
          </div>
        </form>  
    </div>

    <div class="category-container mt-1 mb-5">
        <div class="btn-group" role="group" aria-label="Basic example">
            {% for category in categories %}
            <a href="{% url 'events_by_category' category %}" class="btn btn-outline-dark">{{ category }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="events-container">
            {% for event in events %}
            <div class="event-card">
                <a href="{% url 'event_detail' event.id %}">
                    <img src="{{ event.image_url }}" class="card-img-top" alt="{{ event.title }}" style="cursor: pointer; object-fit: cover" />
                    <h5 class="card-title">{{ event.title }}</h5>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const searchInput = document.getElementById('search-input');
          const dropdown = document.getElementById('recent-searches-dropdown');
  
          searchInput.addEventListener('focus', function() {
              fetch('{% url "recent_searches" %}')
                  .then(response => response.json())
                  .then(data => {
                      dropdown.innerHTML = '';  // Clear existing entries
                      data.recent_searches.forEach(search => {
                          const div = document.createElement('div');
                          div.textContent = search;
                          div.classList.add('recent-search-item');
                          div.addEventListener('click', function() {
                              searchInput.value = search;
                          });
                          dropdown.appendChild(div);
                      });
                      if (data.recent_searches.length > 0) {
                          dropdown.style.display = 'block';
                      }
                  });
          });
  
          searchInput.addEventListener('blur', function() {
              setTimeout(() => {
                  dropdown.style.display = 'none';
              }, 200);  // Delay to allow click event on dropdown items
          });
      });
    </script>
  </body>
  </html>
  