{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interest List</title>
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link href="{% static 'backend/css/index_style.css' %}" rel="stylesheet" />
    <link
      href="{% static 'backend/css/interest_list_style.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "components/navbar.html" %}
    {% if interestEvents %}
    <div class="container mt-5">
      <div class="events-container">
        {% for event in interestEvents %}
        <div class="event-card">
          <a href="{% url 'event_detail' event.id %}">
            <img
              src="{{ event.image_url }}"
              class="card-img-top"
              alt="{{ event.title }}"
              style="cursor: pointer; object-fit: cover"
            />
            <h5 class="card-title">{{ event.title }}</h5>
          </a>
          <!-- trash icon -->
          <div class="remove-interest" event-id="{{event.id}}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-trash remove-interest-icon"
              viewBox="0 0 20 20"
              color="#E52B50"
            >
              >
              <path
                stroke="currentColor"
                stroke-width="0.4"
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                stroke="currentColor"
                stroke-width="0.4"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="container mt-5">
      <p>You haven't saved any event yet!</p>
    </div>
    {% endif %}
  </body>
  <script src="{% static 'backend/scripts/interest_list.js' %}"></script>
</html>
