{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link
      href="{% static 'backend/css/base_style.css' %}"
      rel="stylesheet"
    />

    <link
      href="{% static 'backend/css/profile_edit_style.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "components/navbar.html" %}
    <div class="user-detail py-5">
      <div class="container container-transparent profile-form">
        <img class="user-avatar" src="{% static 'backend/img/generic_user_image.png' %}"/>
        <h1>{{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        <form class="col-lg-8" action="{% url 'profile_edit' %}" method="post">
          {% csrf_token %}
          <label for="avatar">New Profile Picture: </label>
            {{ profile_form.avatar }}
          <label for="first_name">First Name: </label>
          {{ user_form.first_name|addclass:'form-control'}}
          <label for="last_name">Last Name: </label>
          {{ user_form.last_name|addclass:'form-control'}}
          <label for="description">Personal Description: </label>
          {{ profile_form.description|addclass:'form-control'}}
          <button type="submit" class="btn btn-primary">Save My Changes</button>
        </form>
          <a href="{% url 'reset_password' %}" class="text-danger btn btn-link">Change My Password</a>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
