{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"
      rel="stylesheet"
    />

    <link
      href="{% static 'backend/css/base_style.css' %}"
      rel="stylesheet"
    />

    <link
      href="{% static 'backend/css/profile_edit_style.css' %}"
      rel="stylesheet"
    />
    <meta name="csrf-token" content="{{ csrf_token }}">
  </head>
  <body>
    {% include "components/navbar.html" %}
    <div class="user-detail py-5">
      <div class="container container-transparent profile-form">
        {% if user.profile.avatar %}
        <img class="user-avatar" src="/media/{{ user.profile.avatar }}"/>
        {% else %}
        <img class="user-avatar" src="{% static 'backend/img/generic_user_image.png' %}"/>
        {% endif %}
        <h1>{{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        <form class="col-lg-8 profile-form-edit" action="{% url 'profile_edit' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div>
            <label for="avatar">Avatar: </label>
            <br />
            <input type="file" name="avatar" accept="image/*" id="avatar-input">
            <input type="hidden" name="cropped_image_data" id="cropped-image-data" class="form-control-file">
            <div id="image-box" style="width: 350px;">
            </div>
            <button id="avatar-clear" class="hidden">Clear</button>
          </div>
          <label for="first_name">First Name: </label>
          {{ user_form.first_name|addclass:'form-control'}}
          <label for="last_name">Last Name: </label>
          {{ user_form.last_name|addclass:'form-control'}}
          <label for="description">Personal Description: </label>
          {{ profile_form.description|addclass:'form-control'}}
          <div class="text-danger">
            {{user_form.errors}}
            {{profile_form.errors}}
          </div>
          <button type="submit" class="btn btn-primary profile-form-submit">Save My Changes</button>
        </form>
        <a href="{% url 'reset_password' %}" class="text-danger btn btn-link">Change My Password</a>

        <a data-toggle="modal" data-target="#deleteAccountModal" class="text-danger btn btn-link">Delete My Account</a>
        <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete your account? This is an irrevocable action.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger delete_account" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
    <script src="{% static 'backend/scripts/profile_edit.js' %}"></script>
  </body>
</html>
