{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom CSS -->
   <link href="{% static 'backend/css/register_style.css' %}" rel="stylesheet">
</head>
<body>
	{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your form...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
     {% endif %}	

    <div class="register-container">      
            <h1>Register</h1>
			
            <form action="{% url 'register' %}" method=POST>
				{% csrf_token %}
				
				<div class="form-group">
					<label for="id_username">Username:</label>
					<input type="text" name="username" id="id_username" class="form-control" required>
					{{ form.username.errors }}
				</div>
				<div class="form-group">
					<label for="id_email">Email:</label>
					<input type="email" name="email" id="id_email" class="form-control" required>
					{{ form.email.errors }}
				</div>
				<div class="form-group">
					<label for="id_password1">Password:</label>
					<input type="password" name="password1" id="id_password1" class="form-control" required>
					{{ form.password1.errors }}
				</div>
				<div class="form-group">
					<label for="id_password2">Password confirmation:</label>
					<input type="password" name="password2" id="id_password2" class="form-control" required>
					{{ form.password2.errors }}
				</div>
				<input type="submit" value="Submit" class="btn btn-secondary">
            </form>
       
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
