body {
  background-color: #fffbf5;
  margin: 0;
  height: 100vh;
  font-family: "Trebuchet MS";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #77499e;
}

.header-brand {
  font-size: 1.5rem;
}

.header-user a {
  color: #762a2a;
  text-decoration: none;
}

.event-detail {
  color: rgb(68, 66, 66);
  padding-top: 50px;
}

.reviews {
  color: rgb(68, 66, 66);
}

.container-transparent {
  background-color: #f7efe5;
  border-radius: 30px;
  padding: 2rem;
  margin-top: 2rem;
  max-width: 800px;
}

.event-detail .container {
  padding-top: 10px;
  padding-bottom: 50px;
}

.event-detail img {
  max-width: 30%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.event-info p {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.heart-button-container {
  top: 0;
  right: 0;
  padding: 30px;
}

.heart-button {
  background: none;
  border: none;
  cursor: pointer;
}

.heart-button:focus {
  outline: none;
}

.heart-button svg {
  fill: #77499e;
  transition: fill 0.3s ease; /* Smooth transition for color change */
}

.heart-button:hover svg {
  fill: #77499e;
}

.hidden {
  display: none;
}

.text-purple {
  color: #77499e;
}

.btn-outline-dark {
  color: #77499e; 
  border-color: #77499e;
  background-color: #efefe9;
  border-radius: 5px;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: #fff; 
  background-color: #77499e; 
  border-color: transparent;
}

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fffbf5;
  margin: 20% auto; 
  padding: 40px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 60%; 
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 10px; /* Align to the top */
  left: 10px; /* Align to the left */
  color: red; 
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.close svg {
  width: 1em; 
  height: 1em;
}

.modal-content .star-rating input{
  display: none;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.star-rating label {
  font-size: 30px;
  color: #ccc;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.star-rating input:not(:checked) ~ label:hover,
.star-rating input:not(:checked) ~ label:hover ~ label {
  color: #f90;
}

.star-rating input:checked ~ label {
  color: #f90;
}

.star-rating input#star5:checked ~ label {
  color: #f90;
  text-shadow: 0 0 5px rgb(184, 112, 58);
}

.review-text {
  width: 60%; 
  height: 200px; 
  margin: 2% auto; 
  display: block; 
}

.post-btn {
  display: block; 
  margin: 10px auto; 
  background-color: #77499e;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  width: 100px; 
}

.post-btn:hover,
.post-btn:focus {
  color: #fff; 
  background-color: black; 
  border-color: transparent;
}

.temp-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}



