body {
    background-color: #FFFBF5;
    margin: 0;
    height: 100vh;
    font-family: "Trebuchet MS"; 
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #77499e;
  }
  
  .header-brand {
    font-size: 1.5rem;
  }
  
  .header-user a {
    color: #762a2a;
    text-decoration: none;
  }

  .search-bar-container {
    display: flex;
    justify-content: center; 
    padding: 1rem;
    background-color: #FFFBF5;
  }
  
  .search-form {
    width: 50%; 
    margin-top: 2rem; 
    position: relative; 
  }
  
  .search-input {
    width: calc(100% - 75px); 
  }
  
  .input-group .btn {
    width: 75px;
  }

  .category-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .filter-sort {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: FFFBF5;
  }
  
  .filter-sort select {
    padding: 0.5rem;
    margin-right: 1rem;
  }
  
  .container {
    max-width: 800px; 
    justify-content: center;
    margin: auto;
    margin-bottom: 3rem;
  }

  .events-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display 4 items per row */
    gap: 1rem;
    justify-content: center;
    align-items: start;
  }
  
  .event-card {
    overflow: hidden;
    width: 200px; 
    height: 300px;
    display: flex;
    flex-direction: column;
  }

  .event-card a {
    text-decoration: none; 
  }

  .event-card a:hover {
    text-decoration: none; 
  }
  
  .card-img-top {
    width: 200px;
    height: 200px; 
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 15px;
  }
  
  .card-title {
    color: rgb(68, 66, 66);
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 18px;
  }
  
  .event-card a:hover .card-title {
    color: darkgray; 
  }

  .event-card:hover .card-img-top {
    filter: brightness(0.5);
    -webkit-transition: 400ms ease 100ms;
    -moz-transition: 400ms ease 100ms;
    transition: 400ms ease 100ms;
  }

  .btn-outline-dark {
    color: #77499e; 
    border-color: #77499e; 
  }
  
  .btn-outline-dark.active,
  .btn-outline-dark:hover,
  .btn-outline-dark:focus {
      color: #fff !important;
      background-color: #77499e !important;
      border-color: #77499e !important;
  }  
  
  .users-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 1rem; 
    justify-content: center;
    align-items: start;
  }
  
  .user-card {
    overflow: hidden;
    width: 125px; 
    height: 188px; 
    display: flex;
    flex-direction: column;
  }
  
  .user-card-img {
    width: 100%; 
    height: auto;
  }
  

  .recent-searches-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: calc(100% - 75px); /* Adjust this to match the width of the search input */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    top: 3.5rem; /* Adjust this to match the height of the input group */
    left: 0; /* Adjust if the search input is not aligned with the left edge */
    margin-top: 0rem;
}


  .recent-search-item {
      padding: 12px 16px;
      cursor: pointer;
  }

  .recent-search-item:hover {
      background-color: #f1f1f1;
  }


