.event-card {
  position: relative;
}

.remove-interest {
  display: none;
  position: absolute;
  right: 6%;
  top: 4%;
}

.event-card:hover > .remove-interest {
  display: block;
}

.event-card:hover .card-img-top {
  filter: brightness(0.5);
  -webkit-transition: 400ms ease 100ms;
  -moz-transition: 400ms ease 100ms;
  transition: 400ms ease 100ms;
}

.remove-interest:hover {
  cursor: pointer;
}
