body {
    margin: 0;
    height: 100vh;
    font-family: "Trebuchet MS"; 
    background-color: #FFFBF5;
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #77499e;
    border-radius: 10px;
    color: #ffffff;
    line-height: 2;
  }
  .form-control {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
  }
  .btn-secondary {
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    color: rgb(68, 66, 66);
  }
  .btn-secondary:hover {
    background-color: #1d2122;
  }

  .btn-link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,
                border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .btn-link:hover {
    color: #000000; 
    text-decoration: none; 
    line-height: 1.5;
  }

  .login-header {
    text-align: center;
    margin-top: 50px; 
  }
  
  .login-header p{
    font-family: "Trebuchet MS";
    font-size: 2em; 
    color: #77499e;
    font-weight: bold; 
  }
  