body {
    background-image: url('../img/6063nyu_eventguide_img11.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif; 
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(120, 108, 108, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(164, 128, 128, 0.1);
  }
  .form-control {
    border-radius: 20px;
  }
  .btn-secondary {
    border-radius: 20px;
    background-color: #333738;
    border: none;
  }
  .btn-secondary:hover {
    background-color: #1d2122;
  }

  .btn-link {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,
                border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .btn-link:hover {
    color: #0056b3; 
    text-decoration: none; 
  }

  .login-footer {
    text-align: center;
    margin-top: 20px; 
  }
  
  .login-footer p{
    font-family: "Cedarville Cursive", cursive;
    font-size: 3.9em; 
    color: #ffffff;
    font-weight: bold; 

  }
  