#avatar-message {
  margin: 8px 0;
}

#image-cropper {
  display: block;
  max-width: 100%;
}

#image-box {
  width: 350px;
  margin-bottom: 10px;
}

.user-avatar {
  width: 90px;
  border-radius: 50%;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form-edit > input {
  margin-bottom: 12px;
}

.profile-form-submit {
  margin-top: 15px;
}
