body {
    background-color: #FFFBF5;
    margin: 0;
    height: 100vh;
    font-family: "Trebuchet MS"; 
  }

.register-container {
  max-width: 500px;
  margin: 200px auto;
  padding: 20px;
  background-color: #F7EFE5; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(214, 196, 196, 0.1);
  text-align: center; 
}

.register-container label {
  color: #77499e; 
}


/* Style the form inputs to match the login page */
.form-control {
    border-radius: 20px;
    border: 1px solid #ccc; 
    padding: 10px;
    margin-bottom: 15px; /* Space between form fields */
    width: 100%; 
  }
  
  /* Style the submit button to match the login page */
  .btn-secondary {
    border-radius: 20px;
    background-color: #77499e; 
    border: none;
    padding: 10px 20px;
    color: #ffffff; /* Text color */
    margin-top: 20px; /* Space above the button */
  }

  .btn-secondary:hover {
    background-color: #a77ecd; 
  }
  
  /* Style the heading */
  h1 {
    font-family: "Trebuchet MS";
    color: #77499e; /* Color of the heading */
    margin-bottom: 20px; /* Space below the heading */
  }

  small.help-text {
    display: block;
    margin-top: -5px; /* Adjust the value to bring it closer to the input field */
    margin-bottom: 10px; /* Space before the next field */
    font-size: 0.8em; /* Smaller font size for help text */
    color: #010911; /* Bootstrap default help text color, adjust as needed */
  }

  label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold; 
  }

