body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
    background-color: #fffbf5;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .card {
    background-color: #77499e;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    max-width: 600px;
  }

 .form-control {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
 }

 .button-container {
    text-align: left;
  }

 .btn-secondary {
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    color: rgb(68, 66, 66);
    margin-top: 20px; 
  }

 .btn-secondary:hover {
    background-color: #1d2122;
    color: #ffffff;
  }